{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "modules"    : "commonjs",
            "debug"      : true
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-classes"
    ]
}

